@font-face {
  font-family: "IBMPlexSansThai-Bold";
  src: url(fonts/IBMPlexSansThai-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSansThai-ExtraLight";
  src: url(fonts/IBMPlexSansThai-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSansThai-Light";
  src: url(fonts/IBMPlexSansThai-Light.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSansThai-Medium";
  src: url(fonts/IBMPlexSansThai-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSansThai-Regular";
  src: url(fonts/IBMPlexSansThai-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSansThai-SemiBold";
  src: url(fonts/IBMPlexSansThai-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSansThai-Thin";
  src: url(fonts/IBMPlexSansThai-Thin.ttf) format("truetype");
}
